/* Universal Styles */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
    font-size: 16px;
}

.main-content {
    position: relative;
    top: 5rem;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

.button {

}

.image-container {

}

.image-container img {

}

/* Header */

header {
    background-color: #253C59;
    color: white;
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
    z-index: 100;
    border-bottom: 1px solid lightgray;
}

header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-left: 3.3%;
    padding-right: 1rem;
}

header .nav-bar p {
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px black;
}

header nav ul {
    display: flex;
}

header nav li a {
    display: inline;
    padding-left: 1rem;
    text-transform: capitalize;
    text-shadow: 1px 1px black;
    font-family: 'Roboto Slab', serif;
    color: white;
}

@media only screen and (max-width: 574px) {
    header nav li {
        display: none;
    }
}

/* Banner */

.banner {
    background-image: url(images/charlotte-noelle-98WPMlTl5xo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 46.5rem;
}

.banner .mission {
    background-color: #253C59;
    color: white;
    border: 1px solid gray;
    border-radius: 50px;
    width: 30rem;
    height: 20rem;
    position: relative;
    left: 10%;
    top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    line-height: 1.7rem;
    box-shadow: 1px 1px dark-gray;
}

@media only screen and (max-width: 574px){
    .banner .mission{
        width:100%;
        height: 20rem;
        left:0;
        border-radius: 0;
        opacity: 0.95;
    }
}

.banner .mission h1 {
    padding-bottom: 1rem;
}

/* Experience */

.experience {
    background-color: #fbbdc9;
    margin: 60px 20px;
    box-shadow: 1px 1px black;
}

.experience h1 {
    background-color: #253C59;
    padding: 24px;
    text-transform: capitalize;
    text-align: center;
    color: white;
    border-bottom: 1px solid gray;
}

.experience .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    column-gap:2%;
}

.experience .panel {
    background-color: white;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 3px 3px #162a33;
}

.experience .panel img {
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
}

.experience .panel p {
    padding-bottom: 30px ;
    line-height: 1.4rem;
}

.experience .panel .hover-p {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    width: 360px;
    min-width: 300px;
    height: 240px;
    margin: 20px 0px 0px 20px;
    display: none;
   
}

.hover-p p {
    padding: 20px;
    
}

/* Team */

.team {
    background-color: #fbbdc9;
    margin: 60px 0px;
    margin-bottom: 60px;
    box-shadow: 1px 1px black;
}

.team h1 {
    background-color: #253C59;
    padding: 24px;
    text-transform: capitalize;
    text-align: center;
    color: white;
    border-bottom: 1px solid gray;
}

.team .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    column-gap:2%;
}

.team .panel {
    background-color: white;
    max-width: 400px;
    min-width: 300px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 3px 3px #162a33;

}

.team .panel img {
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
    height: 260px;
}

.team .panel p {
    padding-bottom: 30px ;
    line-height: 1.4rem;
}

.team .panel .hover-p {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    width: 360px;
    min-width: 300px;
    height: 240px;
    margin: 20px 0px 0px 20px;
    display: none;
}

/* Contact */

.contact {
    background-image: url(images/contact/s-o-c-i-a-l-c-u-t-96A9UTFAMUM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35.6rem;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.contact .contact-sub h1 {
    background-color: RGBA(37, 60, 89);
    /*width:*/
    padding: 12px;
    text-transform: capitalize;
    text-align: center;
    color: white;
    border-bottom: 1px solid gray;
    box-shadow: 5px 5px RGBA(22, 42, 51, 0.5);
    
}

.contact .contact-sub .container {
    display: flex;
    align-items: center;   
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 5px RGBA(22, 42, 51, 0.5);
}

.contact .contact-sub .container .panel {
    padding: 40px 30px;
    line-height: 2rem;
}



/* Footer */

footer {
    background-color: #253C59;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    border-top: 1px solid lightgray;
    height: 5rem;
    display: flex;
    align-items: center;
}
 
footer p {
    padding-left: 3.3%;
}



/* Font Families 

font-family: 'Lobster', cursive;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto Slab', serif; */