 /* Universal */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
    font-family: sans-serif;
}

h3 {
    font-size: 1.6rem;
    font-family: sans-serif;
}

:target {
    scroll-margin-top: 70px;
}

@media only screen and (max-width: 734px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 637px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
}

/* Header */

header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-left: 10%;
    margin-top: 5px;
    border-radius: 50px;
    width: 80%;
    height: 4rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 0 40px;
}


header li {
    display: inline;
    margin-left: 0rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    border-radius: 50px;
    padding: 0.5rem 10px;;
    justify-content: center;
    align-items: center;
}

header li:hover {
    background-color: #6F7CBD;
}

header li a {
    color: white;
}

.dropdown{
    position: relative;
    display: none;
    font-family: sans-serif;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    padding: 0.5rem 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    min-width: 80px;
    z-index: 1;
    border-radius: 20px;
    padding-top: 14px;
    left: -15px;
}

.dropdown-content a {
    color: white;
    padding: 0.5rem 10px;
    display: block;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 1px 0px #6F7CBD;
}


.dropdown-content a:hover {
    background-color: #6F7CBD;
    box-shadow: 0px 4px 1px 0px #6F7CBD;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #6F7CBD;
    cursor: pointer;
}

@media only screen and (max-width: 912px) {
    header li{
        display: none;
    }
    
    .dropdown {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    header {
        margin-left: 10%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .dropdown {
        display: none;
    }
}

@media only screen and (max-width: 330px) {
    header {
        margin-left: 1%;
        width: 98%;
    }
}

/* Main */

main {
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    width: 100%;
    height: 500px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin-top:10px;
}

.hero-container {
    width: 642px;
}

.heroText {
    background-color: white;
    width: 400px;
    height: 300px;
    position: relative;
    top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    box-shadow: 2px 2px black;
    border-radius: 10px;
    font-family: sans-serif;
}

/*.heroText:hover {
    box-shadow: none;
    top: 98px;
    left: 2px;
}*/

.heroText p{
    /*background-color: aliceblue;*/
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    /*word-spacing: 0.2px;*/
}

.heroText span {
    font-size: 1.4rem;
}

.pfp {
    height: 200px;
    width: 200px;
    position: relative;
    top: -243.2px;
    left: 440px;
    border-radius: 50%;
    border:px solid rgba(0 , 0 , 0 , 0.1);
    background-image: url(/Users/gcaputo/Documents/Coding/Projects/Codecademy/portfolioWebPage/resources/images/pfp2.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    box-shadow: 2px 1px 3px #6F7CBD;
}

.pfp:hover {
    height: 204px;
    width: 204px;
    top: -250.2px;
    left: 433px;
    box-shadow: 4px 4px 3px #6F7CBD;
    border: none;
    cursor: pointer;
} 

@media only screen and (max-width: 734px) {
    
    .hero{
        height: 420px;
    }
    
    .hero-container {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .heroText {
        position:relative;
        left: 6%;
        height: 250px;
        top:auto;
    }
    
    .pfp {
        position:relative;
        top: -85px;
        left: 30px ;
}

    .pfp:hover {
        top: -92px;
        left: 23px;
    }

}

@media only screen and (max-width: 637px) {
    
    .hero{
        height: 380px;
    }
    
    .heroText {
        left: 2%;
        padding: 10px;
        height: auto;
    }
    
    .pfp {
        height: 180px;
        width: 180px;
        top: -85px;
        left: 0px;
}

    .pfp:hover {
        height: 183px;
        width: 183px;
        top: -92px;
        left: -7px;
    }

}

@media only screen and (max-width: 480px) {
    .hero{
        height: auto;
        width: 100%;
        padding: 20px 30px;
    }
    
    .hero-container {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .heroText {
        position:relative;
        left: 0%;
        width: 100%;
        top:auto;
    }
    
    .pfp {
        top: -10px;
}

    .pfp:hover {
        top: -10px;
        left: -7px;
    }
}

/* Skills */

#skills {
    height: auto;
    width: 700px;
    padding: 30px;
    display: flex;
}

.skills-text {
    margin-bottom: 20px;
    padding: 0 1rem;
    line-height: 1.4em;
    font-size: 1.3rem;
    max-width: 50%;
}

.toolbox {
    line-height: 1.25rem;
    max-width: 50%;
    text-align: center;
    border: 3px solid black;    
    border-radius: 20px;
    box-shadow: 1px 2px black;
}

.toolbox-top {
    border-bottom: 2.5px solid black;
    padding: 1rem;
}

.toolbox-bottom {
    padding: 1rem;
    display: flex;
}

.toolbox-bottom li {
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.1rem;
}

@media only screen and (max-width: 734px) {
    #skills {
        height: auto;
        width: 100%;
        padding: 30px;
        align-items: center;
      }
}

@media only screen and (max-width: 480px) {
    #skills {
        flex-direction: column;
        justify-content: center;
    }
    
    .skills-text {
        max-width: 87%;
        text-align: center;
    }
    
    .toolbox {
        max-width: 80%;
    }
}

/* Projects */

#projects {
    height: auto;
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.project{
    width: 700px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px black;
}

.project:hover {
    width: 720px;
    box-shadow: 2px 3px black;
}

.projects-text {
    margin: 30px;
    height: 4rem;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    text-align: center;
    /*box-shadow: 0px 0px 10px -4px black;
    background-color: white;*/
}

.project img {
    height:250px;
    width: 250px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px black;
}

/*.project img:hover {
    height: 400px;
    width: 400px;
    box-shadow: -5px 5px 5px black;
}*/

.project-text {
    height: auto;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-text h3{
    margin-bottom: 1rem;
    width: auto;
}

.project-text h3 a:hover {
    font-size: 1.632rem;
    border-bottom: 5px solid aliceblue;
}

.project-text p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
    
}

@media only screen and (max-width: 734px) {
    
    #projects {
        padding: 60px 0px;
    }
    
    .project {
        width: 100%;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }
    .project:hover {
        width: 99%;
        box-shadow: 10px 5px 10px 1px #6F7CBD;
    }
}

@media only screen and (max-width: 637px){
    .projects-text {
        margin: 10px;
        padding: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    #projects {
    padding: 20px;
    }

    .project{
        width: 100%;/**/
        border: 1px solid black;
        border-radius: 20px;
        margin: 5px;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .projects-text {
        margin: 20px;
        padding: 2rem;
    }

    .project img {
        height: 300px;
        width: 300px;
        margin-right: 0px;
        border-radius: 20px;
    }

    .project-text {
        height: auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        text-align: center;
    }
    
    .project-text p {
        font-size: 1.2rem;;
        line-height: 1.3rem;
    }
}

@media only screen and (max-width: 330px) {
    .project img {
        height: 260px;
        width: 260px;
    }
}

/* Contact */

#contact {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact p {
    font-size: 1.5rem;
    width: 400px;
    text-align: center;
    
}

#contact ul{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

#contact li{
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.25rem;
    font-family: sans-serif;
}

#contact a {
    border: 1px solid gray;
    box-shadow: 1px 1px black;
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}

#contact a:hover {
    padding: 12px;
    box-shadow: 2px 3px black;
    border-radius: 10px;
}

@media only screen and (max-width: 637px) {
    #contact {
        height: 250px;
    }
}

@media only screen and (max-width: 480px) {
   
    #contact {
    height: 200px;
    }

    #contact p {
        font-size: 1.5rem;
        width: 100%;
        padding: 0px 30px;
    }

    #contact ul{
        width: 300px;
    }
}

/* Footer */

footer {
    position: relative;
    top: 4rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    line-height: 1.2rem;
}

.copyright {
    margin-top: 1rem;
}

